body {
    background-color: blueviolet
}

h2 {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.text-center {
    /* display: inline-block; */
    text-align: center;
    font-size: 15px;
}

